
RewriteEngine on
RewriteCond %{HTTP_HOST} ^solartechnologies\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.solartechnologies\.in$
RewriteRule ^SolarTech\/index\.html$ "http\:\/\/solartechnologies\.in\/" [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{solartechnologies.in} [L,R=301]

RewriteCond %{HTTP_REFERER} !^http://agriculture.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://agriculture.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://agritech.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://agritech.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://callonsolution.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://callonsolution.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://callonsolution.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://callonsolution.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ecart.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ecart.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jdwaghere.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jdwaghere.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jdwaghere.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jdwaghere.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://juzviral.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://juzviral.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://juzviral.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://juzviral.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mahakirana.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mahakirana.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mahakirana.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mahakirana.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marathinews.app/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marathinews.app$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marathinews.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marathinews.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marathinewsapp.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://marathinewsapp.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mobileappguru.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mobileappguru.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mobileappguru.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mobileappguru.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://multistatus.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://multistatus.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://newstotal.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://newstotal.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rpteam.mnews.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rpteam.mnews.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://skbmindustries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://skbmindustries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://skbmindustries.com.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://skbmindustries.com.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://solartechnologies.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://solartechnologies.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://solartechnologies.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://solartechnologies.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://status.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://status.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://totalnews.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://totalnews.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://way2wash.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://way2wash.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://way2wash.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://way2wash.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://web2droid.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://web2droid.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://web2droid.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://web2droid.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agriculture.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agriculture.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agritech.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agritech.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.callonsolution.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.callonsolution.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.callonsolution.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.callonsolution.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ecart.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ecart.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jdwaghere.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jdwaghere.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jdwaghere.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jdwaghere.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.juzviral.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.juzviral.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.juzviral.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.juzviral.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mahakirana.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mahakirana.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mahakirana.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mahakirana.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.marathinews.app/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.marathinews.app$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.marathinews.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.marathinews.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.marathinewsapp.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.marathinewsapp.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mobileappguru.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mobileappguru.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mobileappguru.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mobileappguru.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.multistatus.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.multistatus.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.newstotal.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.newstotal.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rpteam.mnews.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rpteam.mnews.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.skbmindustries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.skbmindustries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.skbmindustries.com.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.skbmindustries.com.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.solartechnologies.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.solartechnologies.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.solartechnologies.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.solartechnologies.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.status.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.status.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.totalnews.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.totalnews.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.way2wash.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.way2wash.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.way2wash.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.way2wash.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.web2droid.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.web2droid.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.web2droid.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.web2droid.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yatrisevatours.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yatrisevatours.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yatrisevatours.com.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yatrisevatours.com.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yatrisevatours.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yatrisevatours.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yatrisevatours.com.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yatrisevatours.com.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agriculture.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agriculture.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agritech.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agritech.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://callonsolution.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://callonsolution.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://callonsolution.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://callonsolution.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ecart.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ecart.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jdwaghere.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jdwaghere.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jdwaghere.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jdwaghere.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://juzviral.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://juzviral.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://juzviral.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://juzviral.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mahakirana.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mahakirana.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mahakirana.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mahakirana.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marathinews.app/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marathinews.app$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marathinews.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marathinews.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marathinewsapp.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://marathinewsapp.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mobileappguru.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mobileappguru.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mobileappguru.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mobileappguru.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://multistatus.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://multistatus.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://newstotal.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://newstotal.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rpteam.mnews.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rpteam.mnews.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://skbmindustries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://skbmindustries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://skbmindustries.com.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://skbmindustries.com.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://solartechnologies.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://solartechnologies.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://solartechnologies.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://solartechnologies.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://status.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://status.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://totalnews.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://totalnews.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://way2wash.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://way2wash.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://way2wash.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://way2wash.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://web2droid.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://web2droid.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://web2droid.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://web2droid.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agriculture.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agriculture.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agritech.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agritech.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.callonsolution.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.callonsolution.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.callonsolution.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.callonsolution.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ecart.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ecart.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jdwaghere.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jdwaghere.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jdwaghere.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jdwaghere.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.juzviral.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.juzviral.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.juzviral.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.juzviral.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mahakirana.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mahakirana.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mahakirana.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mahakirana.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marathinews.app/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marathinews.app$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marathinews.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marathinews.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marathinewsapp.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.marathinewsapp.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mobileappguru.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mobileappguru.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mobileappguru.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mobileappguru.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.multistatus.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.multistatus.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.newstotal.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.newstotal.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rpteam.mnews.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rpteam.mnews.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.skbmindustries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.skbmindustries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.skbmindustries.com.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.skbmindustries.com.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.solartechnologies.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.solartechnologies.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.solartechnologies.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.solartechnologies.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.status.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.status.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.totalnews.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.totalnews.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.way2wash.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.way2wash.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.way2wash.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.way2wash.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.web2droid.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.web2droid.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.web2droid.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.web2droid.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yatrisevatours.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yatrisevatours.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yatrisevatours.com.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yatrisevatours.com.web2droid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yatrisevatours.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yatrisevatours.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yatrisevatours.com.web2droid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yatrisevatours.com.web2droid.com$      [NC]
RewriteRule .*\.(jpeg|gif|png|bmp)$ - [F,NC]

